#######################
# Python requirements #
#######################

# Include any non-standard Python libraries here to install automatically

docopt
ruffus
pandas
cython
pysam
drmaa>=0.7
sphinx>=1.0.5
sphinxcontrib-bibtex

#pep8>=1.4.0
#nose>=1.3.0
#flake8>=3.0
#coverage



